{% extends "layout.html" %} 
{% load static %}

{% block content %}
<section class="section">
    <div class="container">
    <div class="content">
        <h2>Block {{id}}</h2>
        <nav class="level" style="align-items: start;">
        <div class="level-left">
            <table>
            <thead>
                <tr>
                <th>Zusammenfassung</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>Anzahl der Transaktionen</td>
                <td>{{transactionsCount}}</td>
                </tr>
                <tr>
                <td>Height</td>
                <td>{{id}}</td>
                </tr>
                <tr>
                <td>Datum</td>
                <td>{{acceptedAt}} UTC</td>
                </tr>
                <tr>
                <td>Nonce</td>
                <td>{{nonce}}</td>
                </tr>
                <tr>
                <td>Miner(IP)</td>
                <td>{{miner}}</td>
                </tr>
            </tbody>
            </table>
        </div>

        <!-- Right side -->
        <div class="level-right">
            <table>
            <thead>
                <tr>
                <th>Hashes</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>dieser Block</td>
                <td>{{hash}}</td>
                </tr>
                <tr>
                <td>Vorgängerblock</td>
                <td>{{prevHash}}</td>
                </tr>
                <tr>
                <td>Nachfolgerblock</td>
                <td>{{nextHash}}</td>
                </tr>
            </tbody>
            </table>
        
        </div>
        </nav>

        <h3>Transaktionen</h3>
        {% for transaction in transactions %}
            <article class="message is-info">
                <nav class="level message-header">
                    <div class="level-left">
                      {{transaction.id}}
                      <span class="ml-1 is-clickable" onclick='navigator.clipboard.writeText("{{transaction.id}}")'>
                        <img src={% static 'media/clip_white.svg' %}>
                      </span>
                    </div>
                    <div class="level-right">{{transaction.createdAt}} UTC</div>
                </nav>
                <nav style="align-items: start;" class="level message-body">
                    <div style="align-items: start; display: inline-grid" class="level-left">
                    {% for sender in transaction.sender %}
                      <span>
                        {{sender | truncatechars:40}}
                        <span class="ml-1 is-clickable" onclick='navigator.clipboard.writeText("{{sender}}")'>
                          <img src={% static 'media/clip_blue.svg' %}>
                        </span>
                      </span>
                    {% endfor %}
                    </div>
                    <div style="align-items: start" class="level-item">
                    {% for senderValue in transaction.senderValue %}
                        {{senderValue}} BAC<br/>
                    {% endfor %}
                    </div>
                    <div class="level-item">
                    &rarr;
                    </div>
                    <div style="align-items: start; display: inline-grid;" class="level-item">
                    {% for recipient in transaction.recipient %}
                      <span>
                        {{recipient | truncatechars:40}}
                        <span class="ml-1 is-clickable" onclick='navigator.clipboard.writeText("{{recipient}}")'>
                          <img src={% static 'media/clip_blue.svg' %}>
                        </span>
                      </span>
                    {% endfor %}
                    </div>
                    <div style="align-items: start; text-align: end; display: inline-grid;" class="level-right">
                    {% for recipientValue in transaction.recipientValue %}
                        {{recipientValue}} BAC<br/>
                    {% endfor %}
                    <div style="align-items: start; text-align: end; display: inline-grid;" class="level-right">Fee: {{transaction.fee}} BAC<br/>
                    <div class="button is-success mt-3" style="cursor: unset;">{{transaction.totalValue}} BAC</div>
                    </div>
                </nav>
            </article>
        {% endfor %}
    </div>
    </div>
</section>
{% endblock content %}
