{% extends "layout.html" %} 

{% block content %}
<section class="section">
    <div class="container">
    <div class="content">
        <h2>Neuste Blöcke</h2>
        <table class="table">
        <thead>
            <tr>
            <th>Blocknummer</th>
            <th>Datum</th>
            <th>Transaktionen</th>
            <th>Gesamtvolumen</th>
            <th>Miner</th>
            <th>Größe</th>
            </tr>
        </thead>
        <tbody>
            {% for element in blocks %}
                <tr>
                  <th><a href="{% url 'single_block' element.id %}">{{element.id}}</a></th>
                    <td>{{element.acceptedAt}} UTC</td>
                    <td>{{element.transactionsCount}}</td>
                    <td>{{element.transactionsValueTotal}} BAC</td>
                    <td>{{element.miner}}</td>
                    <td>{{element.size}}</td>
                </tr>
            {% endfor %}
        <tbody/>
        </table>
    </div>
    </div>
</section>
{% endblock content %}
