{% extends "layout.html" %} 

{% block content %}
<section class="section">
    <div class="container">
    <div class="content">
        <h2>Neuste Blöcke</h2>
        <table class="table">
        <thead>
            <tr>
            <th>Blocknummer</th>
            <th>Datum(Alter)</th>
            <th>Transaktionen</th>
            <th>Gesamtvolumen</th>
            <th>Miner</th>
            <th>Größe</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th><a href="block/242523">242523</a></th>
            <td>06.04.2022 - 15:30:21 (vor 20 Min)</td>
            <td>1020</td>
            <td>21231.03 BAC</td>
            <td>192.168.178.112</td>
            <td>2047</td>
            </tr>
            <tr>
            <th>242522</th>
            <td>06.04.2022 - 15:20:46 (vor 30 Min)</td>
            <td>4221</td>
            <td>61231.03 BAC</td>
            <td>123.42.129.12</td>
            <td>4359</td>
            </tr>
        <tbody/>
        </table>
    </div>
    </div>
</section>
{% endblock content %}